
table {
  width: 100%;
}
.overflow-table {
  height: 400px;
  max-width: 100%;
  overflow: auto;
}

.mat-column-editar {
  flex: none;
  width: 30px !important;
}

.mat-column-excluir {
  flex: none;
  width: 30px !important;
}
