<div class="center">
  <mat-card>
    <mat-card-content>
       <pre>
    Gerenciador de Séries
      A aplicação web irá auxiliar no gerenciamento de séries,
      podendo elas ser: séries de TV, animes, mangás, manhwas,
      Light Novels e Web novels.
      Tem com objetivo manter uma base de dados consistente e
      coerente com todas a inúmeras séries assistidas/lidas que
      ainda estão em publicação, facilitando assim o acompanhamento
      das mesmas.

      Funcionalidades: CRUD para cada tipo de série, será persistido
      as séries e algumas preferências do usuário.

    Github: https://github.com/matiastulio/gerenciador-series
       </pre>
    </mat-card-content>
  </mat-card>
  <button mat-raised-button [routerLink]="['/lista']" style="display: block; margin: auto; margin-top: 10px;">Voltar</button>
</div>
