<mat-card style="max-width:50%;">
  <mat-card-header>
    <mat-card-title>
    {{titulo}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" style="width: 420px;">
      <mat-form-field class="example-full-width">
        <mat-label>Nome Série</mat-label>
        <input matInput placeholder="Ex. Naruto" [(ngModel)]="serie.titulo">
      </mat-form-field>

      <p>
        <mat-form-field class="example-full-width">
          <mat-label>Descrição</mat-label>
          <textarea matInput placeholder="Ex. possui 100 episódios"></textarea>
        </mat-form-field>
      </p>
    </form>

    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancelar</button>
      <button mat-button mat-dialog-close cdkFocusInitial (click)="validateSerie()">Salvar</button>
    </div>
  </mat-card-content>
</mat-card>
